:root {
  --mainDark: #2b2c2c;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

#page-container {
  position: relative;
  min-height: 150vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--mainDark);
  padding-top: 3rem;
  color: var(--mainWhite);
  /*height: 2.5rem;            !* Footer height *!*/
}
