:root {
  --mainDark: #2b2c2c;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
  --yellowText: #FFFF00;
  --cremeText: #FAFAC8;
  --offWhiteText: #FFFFE5;
  --lightGreenText: #B9B900;
  --darkGreenText: #A0A000;
}


 #overlay {
   position: fixed; /* Sit on top of the page content */
   display: block; /* Hidden by default */
   width: 100%; /* Full width (cover the whole page) */
   height: 100%; /* Full height (cover the whole page) */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   font-family: "Open Sans", sans-serif;
   /*background-color: rgba(0,0,0,0.5); !* Black background with opacity *!*/
   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   pointer-events: none;
 }

@font-face {
  font-family: 'Open Dyslexic';
  src: url('./components/fonts/opendyslexic-regular-webfont.woff') format('woff2'),
  url('./components/fonts/opendyslexic-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  background-color:  #333;
}

.App {
  text-align: center;
  padding: 30px;

}
#area {
  width: 500px;
  height: 300px;
  border: 1px solid #555;
  margin: 0 auto;
  border-radius: .5em;
}

#toolbox li {
  display: inline-block;
  margin: .5em 0 0 .7em;
  border-radius: .5em;
  height: 24px;
  width: 24px;
}

.colour-selector:hover {
  cursor: pointer;
}

.customCard {
  background: #FFFFE5 !important;
}

.yellow {
  background-color: #F6BB00;
}

.red {
  background-color: #FF3334;
}

.blue {
  background-color: #0C96E4;
}

.green {
  background-color: #1EB742;
}

/*.one {*/
/*  background-color: var(--yellowText);*/
/*}*/

/*.two {*/
/*  background-color: var(--cremeText);*/
/*}*/

/*.three {*/
/*  background-color: var(--offWhiteText);*/
/*}*/

/*.four {*/
/*  background-color: var(--lightGreenText);*/
/*}*/

/*.five {*/
/*  background-color: var(--darkGreenText);*/
/*}*/


