:root {
  --mainDark: #2b2c2c;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

 #overlay {
   position: fixed; /* Sit on top of the page content */
   display: block; /* Hidden by default */
   width: 100%; /* Full width (cover the whole page) */
   height: 100%; /* Full height (cover the whole page) */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   /*background-color: rgba(0,0,0,0.5); !* Black background with opacity *!*/
   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   pointer-events: none;
 }


body {
  background-color:  #333;
}

.App {
  text-align: center;
  padding: 30px;

}
#area {
  width: 500px;
  height: 300px;
  border: 1px solid #555;
  margin: 0 auto;
  border-radius: .5em;
}

#toolbox li {
  display: inline-block;
  margin: .5em 0 0 .7em;
  border-radius: .5em;
  height: 24px;
  width: 24px;
}

.colour-selector:hover {
  cursor: pointer;
}

.yellow {
  background-color: Gold;
}

.red {
  background-color: Coral;
}

.blue {
  background-color: RoyalBlue;
}

.green {
  background-color: PaleGreen;
}

.white {
  background-color: White;
}